html, body {
    height: 100%;
    width: 100%;
    background: #36454f;
    overflow-y: hidden;
}

div#instruction {
    height: 70%;
    margin-top: 10%;
    width: 98%;
    display: flex;
    flex-flow: column nowrap;
}

div#toprow {
    height: 48%;
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}

div#botrow {
    height: 48%;
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}

div#toprow div, div#botrow div {
    height: 100%;
    width: 45%;
}

div#q1 {
    border: 3px solid #f6f4f1;
}

div#q2 {
    border-top: 3px solid #f6f4f1;
    border-right: 3px solid #f6f4f1;
    border-bottom: 3px solid #f6f4f1;
}

div#q3 {
    border-right: 3px solid #f6f4f1;
    border-bottom: 3px solid #f6f4f1;
    border-left: 3px solid #f6f4f1;
}

div#q4 {
    border-right: 3px solid #f6f4f1;
    border-bottom: 3px solid #f6f4f1;
}

div#q1.target {
    background-color: #ed7777;
}

div#q2.target {
    background-color: #f5f9ad;
}

div#q3.target {
    background-color: #bcdf8a;
}

div#q4.target {
    background-color: #94c0cc;
}

div#controls {
    height: 15%;
    width: 100%;
    padding-top: 10%;
}

/* Baseline style */
input[type=range] {
    -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
    width: 100%; /* Specific width is required for Firefox. */
    background: transparent; /* Otherwise white in Chrome */
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
}

input[type=range]::-ms-track {
    width: 100%;
    cursor: pointer;

    /* Hides the slider so custom styles can be added */
    background: transparent; 
    border-color: transparent;
    color: transparent;
}

/* Thumb */
/* Special styling for WebKit/Blink */
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: 10px solid #b69047;
    height: 240px;
    width: 90px;
    border-radius: 25px;
    background: #fad48b;
    cursor: pointer;
    margin-top: -97.5px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
}

/* All the same stuff for Firefox */
input[type=range]::-moz-range-thumb {
    border: 10px solid #b69047;
    height: 240px;
    width: 90px;
    border-radius: 25px;
    background: #fad48b;
    cursor: pointer;
}

/* All the same stuff for IE */
input[type=range]::-ms-thumb {
    border: 10px solid #b69047;
    height: 240px;
    width: 90px;
    border-radius: 25px;
    background: #fad48b;
    cursor: pointer;
}

/* Track */
input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 65px;
    cursor: pointer;
    background: #94c0cc;
    border-radius: 1.3px;
    border: 10px solid #72a0aa;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: #94c0cc;
}

input[type=range]::-moz-range-track {
    width: 100%;
    height: 65px;
    cursor: pointer;
    background: #94c0cc;
    border-radius: 10px;
    border: 10px solid #72a0aa;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: #94c0cc;
}

input[type=range]::-ms-track {
    width: 100%;
    height: 75px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    border-width: 16px 0;
    color: transparent;
}

input[type=range]::-ms-fill-lower {
    background: #94c0cc;
    border: 10px solid #72a0aa;
    border-radius: 25px;
}

input[type=range]::-ms-fill-upper {
    background: #94c0cc;
    border: 10px solid #72a0aa;
    border-radius: 25px;
}
